@model IEnumerable<IdentityRole>


        <div class="card">
            @if (Model.Any())
            {
                <h1>Create A New Role</h1>
                <a asp-controller="Admin" asp-action="CreateRole" class="btn btn-secondary">Create role</a>
                <h2>All Roles</h2>

                @foreach (var role in Model)
                {
                    <div class="card-header">
                        Role Id: @role.Id
                    </div>
                    <div class="card-body">
                        Role Name: @role.Name
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-secondary">Edit role</a>
                        <a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-secondary">Delete role</a>
                    </div>
                }

            }
            else
            {
                <div class="card-header">
                    No Roles
                </div>
                <div class="card-body">
                    <h1>Create A New Role</h1>
                    <a asp-controller="Admin" asp-action="CreateRole" class="btn btn-secondary">
                        Create role
                    </a>
                </div>
            }
        </div>