@inject SignInManager<AppUser> signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link" asp-action="CreateRole" asp-controller="Admin">Create Role</a>
                                <a class="nav-link" asp-action="ListRoles" asp-controller="Admin">Manage Roles</a>
                                <a class="nav-link" asp-action="ListUsers" asp-controller="Manager">Manage Users</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Food
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link" asp-action="Create" asp-controller="Home">Create a New Food</a>
                                <a class="nav-link" asp-action="ListOrders" asp-controller="Manager">Manage Orders</a>
                            </div>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link">Logout @User.Identity.Name</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
    <footer>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var identity in User.Identities)
            {
                <h3>@identity.Name</h3>
            }
        }
        else
        {
            <div>You are not authenticated</div>
        }
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/jquery/core.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>


